.image-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-top: 40px;
  margin-left: 10px;
}

.carousel-images {
  width: 130%;
  overflow: hidden;
}

.carousel-main-image {
  
  width: 100%;
  object-fit: cover; 
  border-radius: 8px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.carousel-thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.thumbnail.active-thumbnail {
  border-color: #007bff;
}